<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("_base.ejs") %> 
</head>
<body>
  <br>
  <center>
    <h1>Shortener</h1>
  </center>
  <br>

  <div class="container">
    <form method="POST" action="/create" style="background-color: rgb(241, 241, 241); padding: 15px; border-radius: 10px;">
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="title" aria-describedby="emailHelp" placeholder="Enter title">
        <small id="emailHelp" class="form-text text-muted">Try to chose a descriptive title.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Url to shorten</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="longUrl" placeholder="Enter url to shorten">
      </div>
      <button type="submit" class="btn btn-primary mt-2">Shorten</button>
    </form>
  </div>
</body>
</html>